@font-face {
    font-family: 'Roboto Lt';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angulo';
    src: url('../fonts/Angulo-Black.woff2') format('woff2'),
    url('../fonts/Angulo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Windsong';
    src: url('../fonts/Windsong.woff2') format('woff2'),
    url('../fonts/Windsong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a Area Stencil';
    src: url('../fonts/aAreaStencil.woff2') format('woff2'),
    url('../fonts/aAreaStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

