
@mixin apply-theme() {
  .outer {
    width: 100%;
    overflow: hidden;

    .flex {
      display: flex;
      height: 100%;
      flex-direction: row;

      .left {
        padding: 0 20px 0 20px;
        width: 33%;
        height: 100%;
        z-index: 200;

        .calligraphy {
          font-family: Windsong, serif;
        }

        h1 {
          font-size: 40px;
          font-family: 'a Area Stencil',  sans-serif;
        }

        h2 {
          margin-bottom: 0;

        }

        h1, h2, h3 {
          text-align: center;
          letter-spacing: 0.07em;
        }

        h2.sub-heading  {
          margin:  2px;
          font-size: 42px;
        }

        li {
          margin-bottom: 10px;
        }
        

      }

      .update {
        text-align: center;

        .bold {
          font-weight: bold;
        }
        button {
          padding: 10px;
          cursor: pointer;
          margin-top: 15px;

          span {
            font-size: 18px;
          }
        }
      }

      .right {
        cursor: pointer;
        position: absolute;
        right: 0;
      }
    }

    @media only screen and (max-width: 600px) {
      .flex {
        flex-direction: column;

        .left {
          width: auto;
          height: auto;
        }

        .right {
          position: relative;
        }
      }
    }
  }
}

