$theme-0-a: rgba(90, 73, 84, 1);
$theme-0-b: rgba(111, 111, 111, 1);

$theme-1-a: rgba(90, 73, 84, 1);
$theme-1-b: rgba(111, 111, 111,1);

$theme-2-a: rgba(255, 187, 113, 1);
$theme-2-b: rgba(181, 222, 249, 1);

$theme-3-a: rgba(108, 180, 156, 1);
$theme-3-b: rgba(255, 255, 255, 1);

$theme-4-a: rgba(255, 117, 106, 1);
$theme-4-b: rgba(187, 255, 199, 1);
